@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
body {
    background-color: #fffaf5;
    padding: 0;
    margin: 0;
    font-family: 'Merriweather', serif;
}
html {
    scroll-behavior: smooth;
}
nav {
    background-color: #fffaf5;
    padding: 1em;
}
.skipNav {
    position: absolute;
    transform: translateY(-150%);
    z-index: 50;
    background-color: #000;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 1%;
}
.skipNav:focus {
    transform: translateY(0);
}
.navbar-brand {
    font-family: 'Oxygen', sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
}
.tashdraws {
    color:#000;
    font-size: 1.5rem;
}
.nav-item i {
    font-size: 2rem;
}
.nav-item a {
    font-size: 1.2rem;
}
.nav-item {
    margin: 0.5em;
}
.nav-item a {
    color: black
}
.ex-img img {
    width: 80%;
}
.ex-text {
    display: flex;
    justify-content: center;
    align-items: center;
}
.example-sheet {
    margin-block: 5%;
}
.example-sheet span {
    font-size: 1.3rem;
}
.tos p {
    font-size: 1.3rem;
}
.index .container {
    margin: 0;
}
.index [class*="col-"] img {
    aspect-ratio: 1/1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
    transition: .1s;
    cursor: pointer;
}
.index .row {
    width: 100vw;
    padding-inline: 50px;
}
.index [class*="col-"] {
    padding: 3px;
    overflow: hidden;
}
.index [class*="col-"]:hover img, .index [class*="col-"]:focus img {
    transform: scale(1.2);
}
.index [class*='col-']:hover, .index [class*='col-']:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.slideshow-container {
    position: relative;
}
.slides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}
.prev:hover, .next:hover {
    text-decoration: none;
    color: black;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
.slideshow-container img {
    max-height: 80vh;
    max-width: 100%
}
footer {
    color: rgb(55, 55, 55);
    font-size: 1.3rem;
}
footer a {
    color:rgb(55, 55, 55, 0.8);
    font-size: 1.5rem;
}
footer a:hover {
    color: rgb(55, 55, 55)
}
.social-container li a,
.social-container li {
    display: inline;
}

@media only screen and (min-width: 1000px) {
    .will-wont {
        padding-inline: 10%;
    }
    .tos {
        padding-inline: 15%;
    }
}